

@import url("https://bjarnehall.github.io/nav.css");

html, body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    font-size: 1.1rem;
}


body{
    /*Background*/
    background-color: #1b1b1b;
    /*Typo*/
    color: #c7c7c7;
    font-family:'Arial', sans-serif;
}

/*Typo*/
a {
    color: #c7c7c7;
}
/*Typo*/
a:hover {
    color: #FFF;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px
}

.game {
    margin-left: 10%;
}
