
.player-stats {
    background-color: #1b1b1b;
}

.player-stats p {
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    width: 303px;
}

.player-stats hr {
    border: 2px solid rgba(255, 255, 255, 0.256);
    margin-top: -14px;
    padding: 2px;
}